<h1>Reactive Forms</h1>
<div class="container-fluid">
     <form [formGroup]="registrationform" (ngSubmit)="onsubmit()">
          <label>First Name:</label>
          <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{'is-invalid':submit&&f.firstName.errors}">
          <div *ngIf="submit&&f.firstName.errors" class="invalid-feedback">
               <div *ngIf="f.firstName.errors.required">First name is required</div>
          </div>
          <label>Last Name:</label>
          <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [ngClass]="{'is-invalid':submit&&f.lastName.errors}">
          <div *ngIf="submit&&f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last name is required</div>
     </div>

          <label>Phone:</label>
          <input type="number" class="form-control" placeholder="Phone Number" formControlName="phone" [ngClass]="{'is-invalid':submit&&f.phone.errors}">
          <div *ngIf="submit&&f.phone.errors" class="invalid-feedback">
               <div *ngIf="f.phone.errors.required">Phone number is required</div>
               <div *ngIf="f.phone.errors.pattern">Invalid Phone number</div>

          </div>
          <label>Email:</label>
          <input type="email" class="form-control" placeholder="Email Id" formControlName="email" [ngClass]="{'is-invalid':submit&&f.email.errors}" >
          <div *ngIf="submit&&f.email.errors" class="invalid-feedback">
               <div *ngIf="f.email.errors.required">Email is required</div>
               <div *ngIf="f.email.errors.email">Invalid Email Address</div>

          </div>

          <button type="submit" class="btn btn-success">Submit</button>
     </form>
</div>