
     
<!--<button (click)="Functionone()" style="text-align: center;">Good morning</button>
<button (click)="Functiontwo()"style="text-align: center;">Good afternoon</button>
<div style="text-align: center;">-->
    <!-- <h2>Count={{count}}</h2>
    <button (click)="increment()" style="text-align: center;">Increment</button>
     <button (click)="decrement()" style="text-align: center;">Decrement</button>
<h2>Count is {{evenorodd}}</h2> 
<input type="number" [(ngModel)]="count"></div>
<button (click)="check()">Check</button>
<h2[hidden]="ishidden">{{count}} is {{EvenorOdd}}</h2>-->
<!--<table border="1">
     <thead>
          <th>Name</th>
          <th>Price</th></thead>
          <tbody *ngFor="let item of fruits">
               <tr>
               <td>{{item.name}}</td>
               <td>{{item.price}}</td>
          </tr>
     
</table>-->
<nav class="navbar bg-body-tertiary">
     <div >
       Angular API Calling 
     <div class="list">
         <ul *ngFor="let item of postArray">
          <li>{{item.title}}</li>
         </ul>
          </div>
     </div>
   </nav>
   <router-outlet></router-outlet>